build/index.html
<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <head>
    <meta name="charset" content="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ffd800">
    <meta name="format-detection" content="telephone=no">
    <meta name="og:title" content="Банкет в ресторане Кружева">
    <meta name="og:site_name" content="">
    <meta name="og:description" content="">
    <meta name="og:image" content="http://landing.artpages.pro/kruzheva/img/bg-intro.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>Заказать банкет в ресторане Кружева</title>
    <link rel="stylesheet" href="css/bundle.min.css" media="all">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>
    <header class="header">
      <div class="container header__container"><a href="#" class="header__logo"><img src="img/kruzheva-logo.png" alt="Банкет в ресторане Кружева" class="header__logo-img"></a>
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item"><a href="#tour" class="menu__link js-scroll-to">Интерьер</a></li>
            <li class="menu__item"><a href="#clients" class="menu__link js-scroll-to">Отзывы</a></li>
            <li class="menu__item"><a href="#wedding" class="menu__link js-scroll-to">Свадьба</a></li>
            <li class="menu__item"><a href="#birthday" class="menu__link js-scroll-to">День рождения</a></li>
            <li class="menu__item"><a href="#corporative" class="menu__link js-scroll-to">Корпоратив</a></li>
            <li class="menu__item"><a href="#anniversary" class="menu__link js-scroll-to">Юбилей</a></li>
          </ul>
        </nav><span class="header__phone">203-40-07</span>
      </div>
    </header>
    <div id="intro" class="intro">
      <div class="container intro__container">
        <h1 class="intro__title"><span>Банкет</span> в ресторане Кружева от <span>1290р/чел</span> <br>скачайте банкетное меню</h1><a href="#popup-menu" class="intro__btn yellow-btn js-popup"><span class="ink"></span>Скачать меню</a>
      </div>
    </div>
    <div id="advantages" class="advantages">
      <div class="container advantages__container">
        <div role="list" class="advantages__list">
          <figure role="listitem" class="advantage"><img src="img/advantage-alcohol.jpg" class="advantage__img">
            <figcaption class="advantage__title">Алкогольные и <br>безалкогольные <br>напитки с собой</figcaption>
          </figure>
          <figure role="listitem" class="advantage"><img src="img/advantage-no-overcharge.jpg" class="advantage__img">
            <figcaption class="advantage__title">Отсутствует % <br>за обслуживание <br>экономия до 7000р</figcaption>
          </figure>
          <figure role="listitem" class="advantage"><img src="img/advantage-parking.jpg" class="advantage__img">
            <figcaption class="advantage__title">Бесплатная парковка <br>для гостей ресторана <br>круглосуточно</figcaption>
          </figure>
          <figure role="listitem" class="advantage"><img src="img/advantage-cake.jpg" class="advantage__img">
            <figcaption class="advantage__title">Праздничный торт <br>и фрукты можно <br>с собой</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div id="degustation" class="degustation">
      <div class="container degustation__container">
        <h3 class="degustation__title">Попробуйте Бесплатно блюда <br>от шеф-повара из банкетного меню</h3>
        <div class="degustation__order">
          <p class="degustation__text">1. Введите номер телефона</p>
          <p class="degustation__text">2. Жмите “Попробовать”</p><span class="degustation__arrow"></span>
        </div>
        <form action="order.php" method="POST" class="form degustation__form">
          <input type="tel" name="phone" placeholder="8 (___) ___-__-__" required class="form__input">
          <input type="hidden" name="form_type" value="Запись на дегустацию">
          <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Попробовать</button>
        </form>
        <p class="degustation__left">Бесплатная дегустация проводится <span>до субботы!</span></p>
      </div>
    </div>
    <div id="tour" class="tour">
      <div class="container tour__container">
        <h3 class="tour__title">Посмотрите на интерьер ресторана “Кружева” <br>Воспользуйтесь 3D-туром. Просто кликните ниже</h3>
        <div class="tour__interactive">
          <iframe src="http://navse360.ru/onlyTour/12365" scrolling="no" width="100%" height="625">Здесь мог бы быть виртуальный тур, но ваш браузер не поддерживает фреймы.</iframe>
        </div>
      </div>
    </div>
    <div id="calc" class="calc">
      <div class="container calc__container">
        <h3 class="calc__title">Рассчитайте стоимость банкета для вашего мероприятия</h3>
        <div role="list" class="calc__events">
          <div id="wedding" role="listitem" class="event">
            <p class="event__title">Свадьба</p><img src="img/event-wedding.jpg" href="#popup-wedding" class="event__img js-popup">
            <div class="event__bar"><a href="#popup-wedding" class="event__btn yellow-btn js-popup"><span class="ink"></span>Рассчитать стоимость</a></div>
          </div>
          <div id="corporative" role="listitem" class="event">
            <p class="event__title">Корпоратив</p><img src="img/event-corporative.jpg" href="#popup-corporative" class="event__img js-popup">
            <div class="event__bar"><a href="#popup-corporative" class="event__btn yellow-btn js-popup"><span class="ink"></span>Рассчитать стоимость</a></div>
          </div>
          <div id="birthday" role="listitem" class="event">
            <p class="event__title">День рождения</p><img src="img/event-birthday.jpg" href="#popup-birthday" class="event__img js-popup">
            <div class="event__bar"><a href="#popup-birthday" class="event__btn yellow-btn js-popup"><span class="ink"></span>Рассчитать стоимость</a></div>
          </div>
          <div id="anniversary" role="listitem" class="event">
            <p class="event__title">Юбилей</p><img src="img/event-anniversary.jpg" href="#popup-anniversary" class="event__img js-popup">
            <div class="event__bar"><a href="#popup-anniversary" class="event__btn yellow-btn js-popup"><span class="ink"></span>Рассчитать стоимость</a></div>
          </div>
        </div>
        <div role="list" class="calc__advantages">
          <p role="listitem" class="calc__advantage">Аренда зала ресторана Бесплатно</p>
          <p role="listitem" class="calc__advantage">Разные варианты рассадки до 60 гостей</p>
          <p role="listitem" class="calc__advantage">Бесплатный караоке</p>
          <p role="listitem" class="calc__advantage">Помощь в организации банкета</p>
        </div>
      </div>
    </div>
    <div id="clients" class="clients">
      <div class="container clients__container">
        <h3 class="clients__title">Нас рекомендуют десятки гостей</h3>
        <div class="clients__slider js-clients">
          <figure class="clients__slide"><img src="img/testimonial-1.jpg" class="clients__slide-img"></figure>
          <figure class="clients__slide"><img src="img/testimonial-2.jpg" class="clients__slide-img"></figure>
          <figure class="clients__slide"><img src="img/testimonial-3.jpg" class="clients__slide-img"></figure>
          <figure class="clients__slide"><img src="img/testimonial-4.jpg" class="clients__slide-img"></figure>
          <figure class="clients__slide"><img src="img/testimonial-5.jpg" class="clients__slide-img"></figure>
          <figure class="clients__slide"><img src="img/testimonial-6.jpg" class="clients__slide-img"></figure>
          <figure class="clients__slide"><img src="img/testimonial-7.jpg" class="clients__slide-img"></figure>
          <figure class="clients__slide"><img src="img/testimonial-8.jpg" class="clients__slide-img"></figure>
          <figure class="clients__slide"><img src="img/testimonial-9.jpg" class="clients__slide-img"></figure>
        </div>
        <div class="clients__trust"><img src="img/tripadvisor-logo.png" class="clients__trust-logo">
          <div class="clients__trust-content">
            <p class="clients__trust-title">Отзывы гостей ресторана “Кружева” взяты с самого крупного портала рекомендаций TripAdvisor</p>
            <p class="clients__trust-text">TripAdvisor TripAdvisor работает в 45 странах, обслуживает 315 млн уникальных посетителей ежемесячно,  имеет 70 млн пользователей, которые оставили более 200 млн отзывов, что позволяет выбрать лучшее место для вашего отдыха  </p>
          </div>
        </div>
      </div>
    </div>
    <div id="administrator" class="administrator">
      <div class="container administrator__container"><img src="img/administrator.jpg" class="administrator__photo">
        <article class="administrator__content">
          <h3 class="administrator__title">Остались вопросы?</h3>
          <p class="administrator__subtitle">Позвоните администратору <br>ресторана прямо сейчас</p><span class="administrator__phone">203-40-07</span>
        </article>
      </div>
    </div>
    <div id="contacts" class="contacts">
      <div class="container contacts__container">
        <div class="contacts__map">
          <script charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acbe81e9cdc369cd1e09354c96d821032daa40b777df746ebec20b18fd8708449&amp;amp;width=460&amp;amp;height=375&amp;amp;lang=ru_RU&amp;amp;scroll=true"></script>
        </div>
        <div class="contacts__content">
          <p class="contacts__schedule">Режим работы: <br>пн-чт, вс: 11:00 - 23:00 <br>пт-сб: 11:00 - 00:00</p>
          <address class="contacts__address">Адрес: <br>г. Казань, ул. Гвардейская, 15, 1 этаж</address>
          <p class="contacts__phones">Телефон: <br>+7 (843) 203-40-07 <br>+7 (937) 286-64-47</p>
        </div>
      </div>
    </div>
    <div id="popup-menu" class="modal mfp-hide">
      <p class="modal__title">Скачайте банкетное <br> меню в 1 клик</p>
      <p class="modal__text">Укажите свои контакты и мгновенно <br>получите банкетное меню с ценами</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="Скачать меню">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Скачать меню</button>
      </form>
    </div>
    <div id="popup-wedding" class="modal mfp-hide">
      <p class="modal__title">Рассчитайте стоимость <br>свадебного банкета</p>
      <p class="modal__text">Укажите свои контактные данные <br>Администратор перезвонит вам и  <br>озвучит цены и спецпредложения</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="Свадьба">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Рассчитать стоимость</button>
      </form>
    </div>
    <div id="popup-corporative" class="modal mfp-hide">
      <p class="modal__title">Рассчитайте стоимость <br>банкета на корпоратив</p>
      <p class="modal__text">Укажите свои контактные данные <br>Администратор перезвонит вам и  <br>озвучит цены и спецпредложения</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="Корпоратив">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Рассчитать стоимость</button>
      </form>
    </div>
    <div id="popup-birthday" class="modal mfp-hide">
      <p class="modal__title">Рассчитайте стоимость <br>на день рождения</p>
      <p class="modal__text">Укажите свои контактные данные <br>Администратор перезвонит вам и  <br>озвучит цены и спецпредложения</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="День рождения">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Рассчитать стоимость</button>
      </form>
    </div>
    <div id="popup-anniversary" class="modal mfp-hide">
      <p class="modal__title">Рассчитайте стоимость <br>банкета на юбилей</p>
      <p class="modal__text">Укажите свои контактные данные <br>Администратор перезвонит вам и  <br>озвучит цены и спецпредложения</p>
      <form action="#" method="POST" class="modal__form form">
        <input type="text" name="contact" placeholder="Введите имя" required class="form__input">
        <input type="tel" name="phone" placeholder="Введите телефон" required class="form__input">
        <input type="hidden" name="form_type" value="Юбилей">
        <button type="submit" class="form__submit yellow-btn"><span class="ink"></span>Рассчитать стоимость</button>
      </form>
    </div>
    <div id="thanks" class="modal modal_terms mfp-hide">
      <p class="modal__title">Вы записаны на дегустацию. <br>Вам перезвонят, чтобы уточнить удобное время</p>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bundle.min.js"></script>
    <script>
      (function (d, w, c) {
      	(w[c] = w[c] || []).push(function() {
      		try {
      			w.yaCounter44586925 = new Ya.Metrika({
      				id:44586925,
      				clickmap:true,
      				trackLinks:true,
      				accurateTrackBounce:true,
      				webvisor:true
      			});
      		} catch(e) { }
      	});
      	var n = d.getElementsByTagName("script")[0],
      	s = d.createElement("script"),
      	f = function () { n.parentNode.insertBefore(s, n); };
      
      	s.type = "text/javascript";
      	s.async = true;
      	s.src = "https://mc.yandex.ru/metrika/watch.js";
      
      	if (w.opera == "[object Opera]") {
      		d.addEventListener("DOMContentLoaded", f, false);
      	} else { f(); }
      })(document, window, "yandex_metrika_callbacks");
      
    </script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/44586925" style="position:absolute; left:-9999px;" alt=""></div>
    </noscript>
    <script type="text/javascript" src="//cdn.callbackhunter.com/cbh.js?hunter_code=cca7a6d33929ee00734e645eb481f91a" defer charset="UTF-8"></script>
  </body>
</html>

src/jade/index.jade
doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		meta(name="charset" content="utf-8")
		meta(name="X-UA-Compatible" content="IE=edge")

		meta(name="theme-color" content="#ffd800")
		meta(name="format-detection" content="telephone=no")

		meta(name="og:title" content="Банкет в ресторане Кружева")
		meta(name="og:site_name" content="")
		meta(name="og:description" content="")
		meta(name="og:image" content="http://landing.artpages.pro/kruzheva/img/bg-intro.jpg")

		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(name="HandheldFriendly" content="True")
		meta(name="MobileOptimized" content="320")

		title Заказать банкет в ресторане Кружева
		link(rel="stylesheet" href="css/bundle.min.css" media="all")
		link(rel="icon" href="/favicon.ico")

	body
		header.header
			.container.header__container
				a.header__logo(href="#")
					img.header__logo-img(src="img/kruzheva-logo.png" alt="Банкет в ресторане Кружева")

				nav.header__menu.menu
					ul.menu__list
						li.menu__item
							a.menu__link.js-scroll-to(href="#tour") Интерьер
						li.menu__item
							a.menu__link.js-scroll-to(href="#clients") Отзывы
						li.menu__item
							a.menu__link.js-scroll-to(href="#wedding") Свадьба
						li.menu__item
							a.menu__link.js-scroll-to(href="#birthday") День рождения
						li.menu__item
							a.menu__link.js-scroll-to(href="#corporative") Корпоратив
						li.menu__item
							a.menu__link.js-scroll-to(href="#anniversary") Юбилей

				span.header__phone 203-40-07

		.intro#intro
			.container.intro__container
				h1.intro__title <span>Банкет</span> в ресторане Кружева от <span>1290р/чел</span> <br>скачайте банкетное меню
				
				a.intro__btn.yellow-btn.js-popup(href="#popup-menu")
					span.ink
					| Скачать меню

		.advantages#advantages
			.container.advantages__container
				.advantages__list(role="list")
					figure.advantage(role="listitem")
						img.advantage__img(src="img/advantage-alcohol.jpg")
						figcaption.advantage__title Алкогольные и <br>безалкогольные <br>напитки с собой
					figure.advantage(role="listitem")
						img.advantage__img(src="img/advantage-no-overcharge.jpg")
						figcaption.advantage__title Отсутствует % <br>за обслуживание <br>экономия до 7000р
					figure.advantage(role="listitem")
						img.advantage__img(src="img/advantage-parking.jpg")
						figcaption.advantage__title Бесплатная парковка <br>для гостей ресторана <br>круглосуточно
					figure.advantage(role="listitem")
						img.advantage__img(src="img/advantage-cake.jpg")
						figcaption.advantage__title Праздничный торт <br>и фрукты можно <br>с собой

		.degustation#degustation
			.container.degustation__container
				h3.degustation__title Попробуйте Бесплатно блюда <br>от шеф-повара из банкетного меню
				
				.degustation__order
					p.degustation__text 1. Введите номер телефона
					p.degustation__text 2. Жмите “Попробовать”
					span.degustation__arrow

				form.form.degustation__form(action="order.php" method="POST")
						input.form__input(type="tel" name="phone" placeholder="8 (___) ___-__-__" required)
						input(type="hidden" name="form_type" value="Запись на дегустацию")
						button.form__submit.yellow-btn(type="submit")
							span.ink
							| Попробовать

				p.degustation__left Бесплатная дегустация проводится <span>до субботы!</span>

		.tour#tour
			.container.tour__container
				h3.tour__title Посмотрите на интерьер ресторана “Кружева” <br>Воспользуйтесь 3D-туром. Просто кликните ниже

				.tour__interactive
					iframe(src="http://navse360.ru/onlyTour/12365" scrolling="no" width="100%" height="625")
						| Здесь мог бы быть виртуальный тур, но ваш браузер не поддерживает фреймы.
		
		.calc#calc
			.container.calc__container
				h3.calc__title Рассчитайте стоимость банкета для вашего мероприятия

				.calc__events(role="list")
					.event#wedding(role="listitem")
						p.event__title Свадьба
						img.event__img.js-popup(src="img/event-wedding.jpg" href="#popup-wedding")
						.event__bar
							a.event__btn.yellow-btn.js-popup(href="#popup-wedding")
								span.ink
								| Рассчитать стоимость
					.event#corporative(role="listitem")
						p.event__title Корпоратив
						img.event__img.js-popup(src="img/event-corporative.jpg" href="#popup-corporative")
						.event__bar
							a.event__btn.yellow-btn.js-popup(href="#popup-corporative")
								span.ink
								| Рассчитать стоимость
					.event#birthday(role="listitem")
						p.event__title День рождения
						img.event__img.js-popup(src="img/event-birthday.jpg" href="#popup-birthday")
						.event__bar
							a.event__btn.yellow-btn.js-popup(href="#popup-birthday")
								span.ink
								| Рассчитать стоимость
					.event#anniversary(role="listitem")
						p.event__title Юбилей
						img.event__img.js-popup(src="img/event-anniversary.jpg" href="#popup-anniversary")
						.event__bar
							a.event__btn.yellow-btn.js-popup(href="#popup-anniversary")
								span.ink
								| Рассчитать стоимость

				.calc__advantages(role="list")
					p.calc__advantage(role="listitem") Аренда зала ресторана Бесплатно
					p.calc__advantage(role="listitem") Разные варианты рассадки до 60 гостей
					p.calc__advantage(role="listitem") Бесплатный караоке
					p.calc__advantage(role="listitem") Помощь в организации банкета

		.clients#clients
			.container.clients__container
				h3.clients__title Нас рекомендуют десятки гостей

				.clients__slider.js-clients
					figure.clients__slide
						img.clients__slide-img(src="img/testimonial-1.jpg")
					figure.clients__slide
						img.clients__slide-img(src="img/testimonial-2.jpg")
					figure.clients__slide
						img.clients__slide-img(src="img/testimonial-3.jpg")
					figure.clients__slide
						img.clients__slide-img(src="img/testimonial-4.jpg")
					figure.clients__slide
						img.clients__slide-img(src="img/testimonial-5.jpg")
					figure.clients__slide
						img.clients__slide-img(src="img/testimonial-6.jpg")
					figure.clients__slide
						img.clients__slide-img(src="img/testimonial-7.jpg")
					figure.clients__slide
						img.clients__slide-img(src="img/testimonial-8.jpg")
					figure.clients__slide
						img.clients__slide-img(src="img/testimonial-9.jpg")

				.clients__trust
					img.clients__trust-logo(src="img/tripadvisor-logo.png")
					.clients__trust-content
						p.clients__trust-title Отзывы гостей ресторана “Кружева” взяты с самого крупного портала рекомендаций TripAdvisor
						p.clients__trust-text TripAdvisor TripAdvisor работает в 45 странах, обслуживает 315 млн уникальных посетителей ежемесячно,  имеет 70 млн пользователей, которые оставили более 200 млн отзывов, что позволяет выбрать лучшее место для вашего отдыха  

		.administrator#administrator
			.container.administrator__container
				img.administrator__photo(src="img/administrator.jpg")

				article.administrator__content
					h3.administrator__title Остались вопросы?
					p.administrator__subtitle Позвоните администратору <br>ресторана прямо сейчас
					span.administrator__phone 203-40-07

		.contacts#contacts
			.container.contacts__container
				.contacts__map
					script(charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acbe81e9cdc369cd1e09354c96d821032daa40b777df746ebec20b18fd8708449&amp;width=460&amp;height=375&amp;lang=ru_RU&amp;scroll=true")

				.contacts__content
					p.contacts__schedule Режим работы: <br>пн-чт, вс: 11:00 - 23:00 <br>пт-сб: 11:00 - 00:00
					address.contacts__address Адрес: <br>г. Казань, ул. Гвардейская, 15, 1 этаж
					p.contacts__phones Телефон: <br>+7 (843) 203-40-07 <br>+7 (937) 286-64-47

		.modal.mfp-hide#popup-menu
			p.modal__title Скачайте банкетное <br> меню в 1 клик
			p.modal__text Укажите свои контакты и мгновенно <br>получите банкетное меню с ценами
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="Скачать меню")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Скачать меню

		.modal.mfp-hide#popup-wedding
			p.modal__title Рассчитайте стоимость <br>свадебного банкета
			p.modal__text Укажите свои контактные данные <br>Администратор перезвонит вам и  <br>озвучит цены и спецпредложения
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="Свадьба")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Рассчитать стоимость

		.modal.mfp-hide#popup-corporative
			p.modal__title Рассчитайте стоимость <br>банкета на корпоратив
			p.modal__text Укажите свои контактные данные <br>Администратор перезвонит вам и  <br>озвучит цены и спецпредложения
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="Корпоратив")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Рассчитать стоимость

		.modal.mfp-hide#popup-birthday
			p.modal__title Рассчитайте стоимость <br>на день рождения
			p.modal__text Укажите свои контактные данные <br>Администратор перезвонит вам и  <br>озвучит цены и спецпредложения
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="День рождения")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Рассчитать стоимость

		.modal.mfp-hide#popup-anniversary
			p.modal__title Рассчитайте стоимость <br>банкета на юбилей
			p.modal__text Укажите свои контактные данные <br>Администратор перезвонит вам и  <br>озвучит цены и спецпредложения
			form.modal__form.form(action="#" method="POST")
				input.form__input(type="text" name="contact" placeholder="Введите имя" required)
				input.form__input(type="tel" name="phone" placeholder="Введите телефон" required)
				input(type="hidden" name="form_type" value="Юбилей")
				button.form__submit.yellow-btn(type="submit")
					span.ink
					| Рассчитать стоимость

		.modal.modal_terms.mfp-hide#thanks
			p.modal__title Вы записаны на дегустацию. <br>Вам перезвонят, чтобы уточнить удобное время

		script(src="js/jquery-3.2.1.min.js")
		script(src="js/bundle.min.js")

		script.
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter44586925 = new Ya.Metrika({
							id:44586925,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true,
							webvisor:true
						});
					} catch(e) { }
				});
				var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };

				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");

		noscript
			div
				img(src="https://mc.yandex.ru/watch/44586925" style="position:absolute; left:-9999px;" alt="")

		script(type="text/javascript" src="//cdn.callbackhunter.com/cbh.js?hunter_code=cca7a6d33929ee00734e645eb481f91a" defer charset="UTF-8")
